{% extends 'lti/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load lti_tags %}

{% block page-title %}
  {{ content.name }}
{% endblock %}

{% block page-content %}
  {% if content.content_type == "MULTIPLE_CHOICE_EXERCISE" %}
    {% multiple_choice_exercise %}
  {% elif content.content_type == "CHECKBOX_EXERCISE" %}
    {% checkbox_exercise %}
  {% elif content.content_type == "TEXTFIELD_EXERCISE" %}
    {% textfield_exercise %}
  {% elif content.content_type == "FILE_UPLOAD_EXERCISE" %}
    {% file_upload_exercise %}
  {% endif %}
{% endblock %}


